@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
:root {
  --body-bg-color: #1a1c1d;
  --text-color: #aaaebc;
  --hr-color: #26292a;
  --red: #e74c3c;
}
body {
  font-family: sans-serif;
  padding: 90px 20px 0;
  background-attachment: fixed;
  font-size: 1.6rem; /* =16px */
  /* image de fondo */
  background-image: url("/portada3.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: rgb(255, 254, 254);
}

i {
  color: white;
}
html {
  font-size: 62.5%; /* =10px */
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Medina";
  src: url("/Caneletter.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.shadowBox {
  -webkit-box-shadow: 0px 0px 37px 18px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 0px 37px 18px rgba(0,0,0,0.53);
  box-shadow: 0px 0px 37px 18px rgba(0,0,0,0.53);
}

@layer utilities {
  .grid-cols-custom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  

  @screen sm {
    .grid-cols-custom {
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
  }
}
